<%--
  Created by IntelliJ IDEA.
  User: btesila
  Date: 11/15/2014
  Time: 11:57 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <head>
    <meta name="layout" content="bootstrap"/>
    <title>Welcome to Bootstrap</title>

</script>
</head>
</head>

<body>
<div class="row">
    <div class="col-lg-12"  style="height: 850px">
        <h1 class="page-header">
            Analytics
        </h1>
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>

    </div>
</div>
<!-- /.row -->

</body>
</html>